@use '@angular/material' as mat;
@forward 'theme';
@forward 'variables';

@use 'tailwind';

html,
body {
  display: block;
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: var(--mat-button-text-state-layer-color);
}

.mat-column-trackNumber {
  max-width: var(--track-number-width);
  width: var(--track-number-width);
}

.mat-column-duration {
  width: var(--duration-width);
}

.mat-mdc-snack-bar-container {
  .mdc-snackbar__surface {
    max-width: 100%;
    width: 100%;
  }
}

.snackbar-error {
  --mat-snackbar-container-color: var(--mat-sys-error-container);
  --mat-snackbar-supporting-text-color: white;
  --mat-snack-bar-button-color: white;
}

.snackbar-info {
  --mat-snackbar-container-color: var(--mat-button-text-state-layer-color);
  --mat-snackbar-supporting-text-color: black;
}
