@use '@angular/material' as mat;

html {
  @include mat.elevation-classes();
  @include mat.app-background();
  color-scheme: dark;
  @include mat.theme(
    (
      color: mat.$orange-palette,
      typography: Roboto,
      density: -1,
    )
  );
}
